<html>
    <head>
        <title>Fitbit Login</title>
    </head>
    <body>
    <p><a href="{% url 'fitbit-login'%}">Login as Fitbit User</a></p>
  	<h2>Login</h2>
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{% url 'app-home'%}" />
    </form>
  <a href="{% url 'app-register'%}">Register</a>
    </body>
</html>